.database {
    box-sizing: border-box;
    padding: 9px 30px 0;
    position: relative;
    @include full-layout;
    .database_login {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 1;
        width: 60%;
        height: 80%;
        border-radius: 3px;
        background: #fff;
        overflow: hidden;
        box-sizing: border-box;
        padding: 20px 0;
        box-shadow: 0 2px 4px rgba(0, 0, 0, .12), 0 0 6px rgba(0, 0, 0, .04);
        display: flex;
        flex-direction: column;
        .database_login-head, .database_login-main, .database_login-btn {
            width: 100%;
            overflow: hidden;
            box-sizing: border-box;
        }
        .database_login-head {
            height: 30px;
            line-height: 30px;
            margin-bottom: 20px;
            padding: 0 25px;
            display: flex;
            align-items: center;
            i {
                color: $main-color;
                font-size: 20px;
            }
            span {
                margin-left: 5px;
                font-size: 18px;
                font-weight: bold;
            }
        }
        .database_login-main {
            flex: 1;
            .database_login-layout {
                width: 100%;
                box-sizing: border-box;
                padding: 0 30px;
            }
        }
        .database_login-btn {
            height: 40px;
            margin-top: 20px;
            text-align: center;
            padding: 0 25px;
        }
    }
}