.home {
    box-sizing: border-box;
    padding: 10px 0;
    @include full-layout;
    .home_title {
        display: flex;
        align-content: center;
        font-size: 14px;
        height: 16px;
        line-height: 16px;
        &::before {
            content: "";
            display: block;
            width: 5px;
            height: 100%;
            background: $main-color;
            border-radius: 2.5px;
            margin-right: 10px;
        }
    }
    .home_statistic {
        width: 100%;
        margin-bottom: 10px;
    }
}