// 左上角三按钮主色调
$head-handle_color: #000;
$head-handle_red: #fe5f59;
$head-handle_yellow: #ffbd2c;
$head-handle_green: #2bc841;
$head-handle_border-red: #e55c50;
$head-handle_border-yellow: #eab141;
$head-handle_border-green: #30b742;

// 图标背景
$head-icon-bg: #555;

// light
$border-line_light: #e0e0e0;
$head-bg_light: #f6f6f6;
$main-bg_light: #fff;
$main-color: #52affc;

// dark