// head
$head-handle-btn_size: 12px;
$head-handle_size: 8px;
$head-main-font-size: 16px;
$head_height: 40px;

// menu
$menu_width: 40px;

// 暴露给js调用
:export {
    headHandleBtnSize: $head-handle-btn_size;
}